* {
  margin:0;
  padding:0;
}
html, body {
  height:100%;
  overflow: auto;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  line-height: 160%;
  position: relative;
}

main {
  margin: 16px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  box-shadow: 0 6px 31px -2px rgb(0 0 0 / 10%);
  background-color: white;
  color: #fff;
}

.nav-links {
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 0.3px;
  color: #282c3f;
  border-bottom: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px;
}

.nav-links:hover {
  border-bottom-color: #ee5f73;
}

a:hover {
  color: hotpink;
}

.logo {
  height: 40px;
  margin-left: 50px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 540px;
  margin: 50px;
  box-shadow: 0 6px 31px -2px rgb(0 0 0 / 10%);
}

textarea {
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  margin: 100px;
  color: black;
}

.btn {
  margin: 30px;
}

.user {
  height: 120px;
  margin: 10px;
}

input, .login-input {
  width: 100%;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #d4d5d9;
  background-color: transparent;
  font-weight: 300;
  border-radius: 4px;
  line-height: 14px;
}

.input-area {
  margin: 20px;
}

.header-right {
  float: right;
  margin: 20px;
}

.carousel {
  height: 500px;
}

.w-100 {
  height: 500px;
}

.offers {
  margin: 20px;
  margin-right: 150px;
  margin-left: 130px;
  margin-top:60px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.product_card {
  box-shadow: 0 6px 31px -2px rgb(0 0 0 / 10%);
  border: none;
  margin-bottom: 30px;
  margin-top: 100px;
}

.product_title {
  max-height: 150px;
  font-weight: bolder;
}

.product_detail {
  margin-top: 100px;
  margin-left: 50px;
}

.product_info {
  display: inline-flex;
  margin: 100px;
}

.description {
  top: 150px;
  color: grey;
}

.details {
  top: 200px;
  color: grey;
}

.bag {
  top: 450px;
}

.price {
  top: 330px;
  font-weight: 500;
  font-size: 30px;
}

.size {
  top: 380px;
}

.select {
  top: 380px;
  border-radius: 50%;
  margin-left: 30px;
}

.m {
  left: 600px;
}

.l {
  left: 650px;
}

.xl {
  left: 700px;
}

.checkout-card {
}

.card-img {
  height: 450px;
}

.checkout-body {
  width: 40%;
}

.price-tag {
  display: inline;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  margin-top: 50px;
  margin-left: 50px;
}

.flex-child:first-child {
  margin-right: 20px;
}

.checkout-add {
  width: 50%;
}

.breadcrumb {
  width: 50%;
  margin-left: 40px;
}

.accordion {
  width: 30%;
}

.add_address {
  background-color: #ff3f6c;
  border: none;
  width:400px;
  max-width: 400px;
  padding: 10px;
  font-weight: 600;
  border-radius: 12px;
  color: white;
  margin: 20px;
}

.card-text {
  white-space: nowrap;
    width: 218px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_cards {
  margin-left:100px;
}

.badge {
  position: absolute;
  top:2rem;
  padding:10px;
  font-size: 10px;
}

.margin-40 {
  margin-left: 40px;
  width: 60%;
}

.brand_name {
  color: #282c3f;
    padding: 0 20px 0 0;
    font-size: 35px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}
.title {
  color: #535665;
    padding: 5px 20px 14px 0;
    font-size: 28px;
    opacity: .8;
    font-weight: 400;
}

.price {
  margin-left: 20px;
  color: grey;
  font-size: medium;
}

.actual_price {
  color: #282c3f;
    font-weight: 700;
    font-size:30px;
}

.taxes {
  color: #03a685;
    font-weight: 700;
    font-size: 16px;
    display: block;
}

.options {
  color: #282c3f;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.loginPage {
  box-shadow: 0 6px 31px -2px rgb(0 0 0 / 10%);
  margin:100px;
  background-color: white;
}

.login-labels {
  margin-top:20px;
}
 .login-header {
  font-family: WhitneySSm;
  font-size: 30px;
  font-weight: 700;
  margin-top: 34px;
 }

 .paymentContainer {
  margin-top: 150px;
  width: 40%;
 }

 .form-login {
   margin:100px;
 }